@import "tailwindcss";

@keyframes twinkle {
    0% {
      opacity: 0.08;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.08;
    }
  }
  
  .animate-twinkle {
    animation: twinkle 3s infinite ease-in-out;
  }
:root {
  --primary-color: #0f172a;  /* slate-950 */
  --secondary-color: #1e3a8a;  /* indigo-950 */
  --tertiary-color: #1e3a8a;
}
.animate-ufo {
    animation: ufo-move 10s infinite linear; /* Adjust duration as needed */
}
@keyframes ufo-move {
  0% {
    transform: translateX(200px) translateY(300px);
  }
  25% {
    transform: translateX(500px) translateY(450px);
  }
  50% {
    transform: translateX(1100px) translateY(350px);
  }
  75% {
    transform: translateX(500px) translateY(450px);
  }
  100% {
    transform: translateX(200px) translateY(300px);

  }
}

.animate-ufo {
  animation: ufo-move 8s infinite ease-in-out; 
}

/* Creates a radial gradient transitioning from the primary color at the center to the secondary color at the edges */
.bg-radial {
  background: radial-gradient(var(--primary-color), var(--secondary-color));
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-stone-50 {
  color: #fafaf9;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.relative {
  position: relative;
}

.constellation-image {
  position: absolute;
  height: 20vh; /* Adjust height relative to viewport */
  width: auto; /* Maintain aspect ratio */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
}